<section class="unique section">
  <div class="container unique__content">
    <h2 class="unique__title">Ce qui nous rend unique</h2>
    <p class="unique__intro">
      Votre expert voyage prend le temps de comprendre vos envies et vous aidera
      dans l’organisation de votre voyage de noces.
    </p>

    <div class="unique__image-block">
      <img
        src="/TestDev/src/assets/images/transats.png"
        alt="Plage paradisiaque"
        class="unique__image"
      />

      <div class="unique__advantages">
        <div class="advantage-card">
          <img
            src="/TestDev/src/assets/icons/oreille.png"
            alt="À votre écoute"
            class="advantage-card__icon"
          />
          <div>
            <h3 class="advantage-card__title">À votre écoute</h3>
            <p class="advantage-card__text">
              Votre expert voyage prend le temps de comprendre vos envies et
              vous aidera dans l’organisation de votre voyage de noces.
            </p>
          </div>
        </div>

        <div class="advantage-card">
          <img
            src="/TestDev/src/assets/icons/mesure.png"
            alt="Création sur-mesure"
            class="advantage-card__icon"
          />
          <div>
            <h3 class="advantage-card__title">Création sur-mesure</h3>
            <p class="advantage-card__text">
              Votre expert voyage crée un voyage de noces sur-mesure entièrement
              personnalisé pour vous.
            </p>
          </div>
        </div>

        <div class="advantage-card">
          <img
            src="/TestDev/src/assets/icons/vip.png"
            alt="Prestations exclusives"
            class="advantage-card__icon"
          />
          <div>
            <h3 class="advantage-card__title">Nos prestations exclusives</h3>
            <p class="advantage-card__text">
              Nous vous proposons des services qui vous faciliteront et vous
              accompagneront tout au long de votre séjour.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="unique__text-block">
      <h3 class="unique__text-title">
        Organiser votre lune de miel n’aura jamais été aussi simple !
      </h3>
      <p class="unique__text-paragraph">
        Vous recherchez un voyage de noces pas cher, un voyage de noces luxe,
        une destination farniente ou encore à partir avec vos enfants, nous vous
        accompagnons à chaque étape de votre voyage pour répondre à vos besoins.
      </p>
      <a href="#" class="unique__text-link">En savoir plus</a>
    </div>
  </div>
</section>
