<section class="destinations section">
  <div class="container destinations__container">
    <h2 class="destinations__title">
      Voyage de noces, quelle destination choisir ?
    </h2>
    <p class="destinations__subtitle">
      Découvrez notre sélection de voyage de noces à la hauteur de vos envies!
    </p>

    <div class="cards">
      <div
        class="card card--australie"
        style="--bg: url('../../assets/images/australie.png')"
      >
        <div class="card__content">
          <h3>📍 Australie</h3>
          <p>
            L’Australie, la plus grande île du monde. Entre désert, forêt et
            barrière de corail.
          </p>
          <div class="stars">★ ★ ★ ★ ☆</div>
        </div>
      </div>

      <div
        class="card card--maldives"
        style="--bg: url('../../assets/images/maldives.png')"
      >
        <div class="card__content">
          <h3>📍 Maldives</h3>
          <p>Les Maldives et leurs trésors sous-marins.</p>
          <div class="stars">★ ★ ★ ★ ★</div>
        </div>
      </div>

      <div
        class="card card--tanzanie"
        style="--bg: url('../../assets/images/tanzanie.png')"
      >
        <div class="card__content">
          <h3>📍 Tanzanie</h3>
          <p>
            La Tanzanie, un safari exceptionnel au cœur de la vie sauvage et
            authentique.
          </p>
          <div class="stars">★ ★ ★ ★ ★</div>
        </div>
      </div>

      <div
        class="card card--thailande"
        style="--bg: url('../../assets/images/thaïlande.png')"
      >
        <div class="card__content">
          <h3>📍 Thaïlande</h3>
          <p>La Thaïlande, entre Soleil, eau chaude et vue imprenable.</p>
          <div class="stars">★ ★ ★ ★ ☆</div>
        </div>
      </div>
    </div>
  </div>
</section>
