<section class="mylist section">
  <div class="container mylist__content">
    <div class="centered-container">
      <img
        src="/TestDev/src/assets/icons/logo.png"
        alt="Logo centré"
        class="centered-img"
      />
    </div>

    <p class="mylist__description">
      Avec My Liste, votre famille et vos amis participent à votre voyage de
      noces …
    </p>

    <div class="mylist__steps">
      <div class="mylist__step">
        <img
          src="/TestDev/src/assets/icons/formulaire.png"
          alt="Formulaire"
          class="mylist__icon"
        />
        <div class="mylist__text">
          <span>1.</span>
          <p>Remplissez le formulaire pour créer votre liste.</p>
        </div>
      </div>
      <div class="mylist__step">
        <img
          src="/TestDev/src/assets/icons/pinceau.png"
          alt="Pinceau"
          class="mylist__icon"
        />
        <div class="mylist__text">
          <span>2.</span>
          <p>Personnalisez et remplissez votre espace.</p>
        </div>
      </div>
      <div class="mylist__step">
        <img
          src="/TestDev/src/assets/icons/enveloppe.png"
          alt="Invitation"
          class="mylist__icon"
        />
        <div class="mylist__text">
          <span>3.</span>
          <p>
            Informez vos proches grâce à l’invitation électronique que nous
            mettons à votre disposition.
          </p>
        </div>
      </div>
    </div>

    <button class="mylist__button">Decouvrir my liste</button>
  </div>
</section>
